#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  gap: 2 cm;
}

.figs {
  display: flex;
  justify-content: center;
}

.separador {
  margin: 0 20px; /* Ajuste a quantidade de margem conforme necessário */
}
